amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
certifi==2018.4.16
cymysql==0.9.4
Django==1.11.3
django-autocomplete-light==3.2.10
django-celery==3.2.2
django-cymysql==2.0.0
django-reversion==2.0.13
djangorestframework==3.7.7
kombu==3.0.37
Pillow==5.0.0
pipenv==11.10.0
pytz==2018.3
six==1.11.0
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
